@font-face{
    font-family: August;
    src: url(../asset/August-Bold.ttf)
}

*{
    margin: 0;
    padding: 0;
}

a{
    font-family: 'Helvetica';
    color: #FFFFFF;
    text-decoration: none;
}

a:hover{
    color: #BA3737;
}

body{
    background-color: #101010;
    font-family: 'Helvetica';
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

ul{
   list-style: none; 
   display: flex;
   width: 40%;
   justify-content: space-between;
}

#content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 8vh;
}

#judul h1{
    font-family: 'August';
    color: #BA3737;
    font-size: 90pt;
    font-weight: bold;
}

#judul{
    padding-left: 5vw;
}

#video{
    padding-left: 5vw;
    padding-right: 5vw;
}